
@{
    ViewBag.Title = "个人中心";
    Layout = "../_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
  
</head>
<body>
    <div> 
        <p>个人中心</p>
    </div>
</body>
</html>
